<center>
<h2>Score</h2>
<h1>{{ score }}</h1>
<h2>{{ dayOfWeek }}</h2>

<table width="100%">
    <tr>
        <th>MORNING</th>
        <th>NOON</th>
        <th>EVENING</th>
    </tr>
    <tr>
        <td><input type="checkbox" {{ day.morning }} disabled ></td>
        <td><input type="checkbox" {{ day.noon }} disabled></td>
        <td><input type="checkbox" {{ day.eve }} disabled></td>
    </tr>
</table>
</center>
