<center>
<h2>Score</h2>
<h1>{{ score }}</h1>
<h2>{{ dayOfWeek }}</h2>
<h3>Morning: <input type="checkbox" {{ day.morning }} disabled ></h3>
<h3>Noon: <input type="checkbox" {{ day.noon }} disabled></h3>
<h3>Evening: <input type="checkbox" {{ day.eve }} disabled></h3>
</center>
